---

# Main CSS file

---

// Vars

$break-:     600px;
$break--:   1000px;
$break---:  1600px;

$space: 4em;



// Imports

@import "_lib/normalize";
@import "_lib/solarized";

@import "global";
@import "header";
@import "code";
@import "comments";
@import "footer";

@import "index";
@import "post";
@import "page";

@import "mq";
