---

# Main CSS file

---

// Vars

$break-:     600px;
$break--:   1200px;
$break---:  1800px;

$space: 4em;

$color: hsl(0, 0%, 32%);
$color-dark: darken($color, 12%);
$color-light: lighten($color, 24%);
$color-hint: lighten($color, 48%);



// Imports

@import "_lib/normalize";
@import "_lib/solarized";

@import "global";
@import "header";
@import "nav";
@import "code";
@import "comments";
@import "footer";

@import "index";
@import "post";
@import "page";

@import "mq";
