<div id="comments" class="Comments">

  <p class="Comments-tweet"><a href="https://github.com/simurai/simurai.github.io/edit/master/{{ page.path }}" target="_blank">Edit</a> this page,

  {% if page.comments %}
    write a <a href="{{ page.comments }}" target="_blank">comment</a>
  {% else %}
    leave <a href="https://github.com/simurai/simurai.github.io/issues/new" target="_blank">feedback</a>
  {% endif %}

  or send a <a href="https://twitter.com/simurai" target="_blank">Tweet</a>.</p>

</div>
