  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <title>{{ page.title }} {% if page.description %}- {{ page.description }}{% endif %}</title>
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
	
	<link rel="shortcut icon" href="img/favicon.ico">
	
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather:300,400,700|Lato:300,400">
    <link rel="stylesheet" href="/css/main.css">
    
  </head>
