<li class="index-item">

{% if post.category == "projects" %}
    <a href="{{ post.url }}">
        {{ post.excerpt }}
    </a>
    <a class="meta" href="{{ post.url }}">
        <time class="meta-time time">{{ post.date | date_to_string }}</time>
        <span class="meta-title">{{ post.title }}</span>
        <span class="meta-description">{{ post.description }}</span>
        <span class="index-more">•••</span>
    </a>

{% elsif post.category == "lab" %}
    <a class="index-img" href="{{ post.url }}" style="background-image: url(/img/posts/{{ post.img }});"></a>
    <a class="index-aside" href="{{ post.url }}">
        <time class="time">{{ post.date | date_to_string }}</time>
        <h2 class="index-title index-title--oneline">{{ post.title }}</h2>
        <h3 class="index-description">{{ post.description }} <span class="index-more">•••</span></h3>
    </a>

{% else %}
    <a class="index-link" href="{{ post.url }}">
        <h2 class="index-title">{{ post.title }}</h2>
        <time class="time time--inline">{{ post.date | date_to_string }}</time>
    </a>
    {{ post.excerpt }}
    <a class="index-more" href="{{ post.url }}">•••</a>
{% endif %}

</li>