<nav class="Nav">
    <div class="Nav-group">
        <a class="Nav-item {% if page.category == "projects" %}is-active{% endif %}" href="/projects/">Projects</a>
        <a class="Nav-item {% if page.category == "lab" %}is-active{% endif %}" href="/lab/">Lab</a>
        <a class="Nav-item {% if page.category == "blog" %}is-active{% endif %}" href="/blog/">Blog</a>
    </div>
    <div class="Nav-group">
        <a class="Nav-item {% if page.nav == "about" %}is-active{% endif %}" href="/about/">About</a>
    </div>
</nav>
