<nav class="nav">
    <div class="nav-group">
        <a class="nav-item {% if page.category == "projects" %}active{% endif %}" href="/projects/">Projects</a>
        <a class="nav-item {% if page.category == "lab" %}active{% endif %}" href="/lab/">Lab</a>
        <a class="nav-item {% if page.category == "blog" %}active{% endif %}" href="/blog/">Blog</a>
    </div>
    <div class="nav-group">
        <a class="nav-item {% if page.nav == "about" %}active{% endif %}" href="/about/">About</a>
        <a class="nav-item {% if page.nav == "contact" %}active{% endif %}" href="/contact/">Contact</a>
    </div>
</nav>