/* Code ----------------------------------------- */

code {
    font-size: .9em;
    padding: .1em .4em;
    color: hsl(44, 25%, 50%);
    border-radius: 3px;
}

code,
.highlight {
    border: 1px solid hsla(0, 0%, 0%, 0.08);
    background-color: hsl(44, 100%, 98%);
}

.highlight {
    display: block;
    position: relative;
    margin: 1em 0;
    padding: 1em;
    line-height: 1.3;
    border-radius: 6px;
}

.highlight code {
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
}

.highlight > pre {
    margin: 0;
}

.highlight em {
    color: #545454;
    font-weight: bold;
}

code[data-lang]:after {
    content: attr(data-lang);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 1.5em;
    padding: 0em .6em;
    text-align: center;
    font-size: .75em;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0,0%,66%);
    border-radius: 0 6px;
    border-left: 1px solid hsla(0, 0%, 0%, 0.05);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
    background-color: hsla(0, 0%, 0%, 0.03);
}
