/* Comments ----------------------------------------- */

.comments {
    margin: 0;
    padding: 0 2em;
}

.comments:before,
.comments:after {
    content: "";
    display: block;
    margin: 3em 0;
    height: 1px;
    background: linear-gradient( to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0) );
}
