
// Footer -----------------------------------------

.footer a {
  outline: none;
}

.footer-logo {
  display: inline-block;
  margin: $space 0 0 0;
  transition: -webkit-transform .4s;
  transition:         transform .4s;
}

.footer-logo:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  transition-duration: .1s;
}

.footer-logo:active {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  transition-duration: .1s;
}
