
// Header -----------------------------------------

.Header-hamburger {
  display: none;
}

.Header-title {
	margin: .25em 0;
	font-size: 1.75em;
	font-weight: inherit;
	letter-spacing: 1px;
	color: inherit;
}

.Header-avatar {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  vertical-align: top;
}

.Header-description {
	margin: 0;
}
