
// Index -----------------------------------------

.Index {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Index-item {
  position: relative;
  clear: both;
  margin-bottom: $space;
}

.Index-title {
  margin: 0.2em 0;
  font-size: 1.6em;
  line-height: 1.3;
}

.Index-date {
  color: $color-light;
  font-weight: 300;
}

.Index-description {
  margin: 0;
  font-weight: 300;
  font-size: 1em;
  color: $color;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Project --------------------------
.Index-item--project {
  text-align: center;
  .Index-title {
    font-size: inherit;
    margin-left: 1em;
    &::after {
      content: " -";
      color: $color-light;
    }
  }
}


// Lab --------------------------
.Index-item--lab {
  text-align: center;
}

.Index-labImg {
  display: block;
  margin: 1em auto;
  width: 250px;
  height: 150px;
  border-radius: 6em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.15), 0 1px 1px hsl(0, 100%, 100%);
}


// Blog --------------------------
.Index-item--blog {
  .Index-date {
    display: inline-block;
    margin-right: .5em;

  }

  .Index-meta + p {
    display: inline;
  }
}
