
/* Responsive */


/* Narrow ----------------------------------------- */

@media (max-width: 599px) {
    
    .wrapper {
        padding: 1em 1em 3em 1em;
    }
    
    .aside {
        font-size: 1.2em;
    }
    
    .aside-title {
        margin: 0.5em 0;
    }
    
    .aside-description {
        font-size: 0.9em; 
    }
    
    .img--float {
        float: none;
        margin: 0;
    }
    
    
    
    /* Hamburger toggle -------------------- */
    
    .header-hamburger {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        background: url(../img/hamburger.svg) no-repeat center center;
        background-size: 40px;
    }
    
    .header-hamburger:active {
        background-color: hsla(0,0%,0%,.1);
    }
    
    #top:target .header-hamburger {
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s ease-in;
    }
    
    .header-target {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        -webkit-transform: translateY(-50px);
                transform: translateY(-50px);
    }
    
    #top:target .header-target {
        position: relative;
        visibility: visible;
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
        transition: opacity .3s ease-out,
                    -webkit-transform .2s cubic-bezier(0.000, 0.440, 0.195, 1.250);
        transition: opacity .3s ease-out,
                    transform .2s cubic-bezier(0.000, 0.440, 0.195, 1.250);
        
    }
    
    
}



/* Wide ----------------------------------------- */

@media (min-width: 600px) {
    
    html {
        font-size: 18px;
    }
    
    .wrapper {
        padding: 0 20px; /* fallback */
        padding: 0 5vw;
        margin: 6rem auto;
    }
    
    .header {
        text-align: center;
        margin-bottom: 6rem;
    }
    
}


/* Wide + small height ----------------------------------------- */

@media (min-width: 600px) and (max-height: 900px) {
    
    .wrapper {
        margin: 3rem auto;
    }
    
    .header {
        margin-bottom: 3rem;
    }
    
    .header-avatar {
        position: absolute;
        margin-top: 24px;
        margin-left: 42px; /* Damn magic numbers */
    }
    
    .header-title,
    .header-description {
        display: none;
    }
    
    .nav:before {
        margin: 1em 0 0 0;
    }
    .nav:after {
        margin: 0 0 1em 0;
    }
    
    .nav-group:first-child { margin: 0 3em 0 0; }
    .nav-group:last-child  { margin: 0 0 0 3em; }
    
}



