
/* Nav ----------------------------------------- */

.nav {
    margin-top: 2em;
    &:before,
    &:after {
        content: "";
        display: block;
        height: 1px;
        background: linear-gradient( to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0) );
    }
}

.nav-group {
    display: inline-block;
    margin: 0 1em;
}

.nav-item {
    display: inline-block;
    padding: 1em .5em;
    line-height: 1;
}

.nav-item,
.nav-item:visited {
	color: $color-light;
}

.nav-item:hover {
	color: lighten($color-light, 10%);
}

.nav-item:active {
	color: lighten($color-light, 10%);
}

.nav-item.active {
    color: $color-dark;
    font-weight: 400;
}