// Page -----------------------------------------



// Columns -----------------------------------------

.page.has-cols {
  @media (min-width: $break-) {
    font-size: .8em;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

.page-col {
  -webkit-column-break-after: always;
  column-break-after: always;
}
