// Page -----------------------------------------

.Page {
  &.has-cols {
    @media (min-width: $break-) {
      font-size: .8em;
      -webkit-column-count: 2;
      column-count: 2;
    }
  }
}

.Page-col {
  -webkit-column-break-after: always;
  column-break-after: always;
}
