
/* Post ----------------------------------------- */

.article-meta {
    text-align: center;
}

.time {
    color: hsl(0, 0%, 70%);
    font-weight: 300;
}

.time--inline {
    margin-right: .4em;
}

.article iframe {
    margin: 1em 0;
}

.article h1 {
    text-align: center;
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    margin: 2em 0 0 0;
}

.article h2 {
    border-bottom: 1px dashed hsla(0, 0%, 0%, 0.1);
}

.video-wrapper {
    position: relative;
    max-width: 100%;
    height: auto;
}

.video-wrapper .video {
    margin: 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Meta ----------------------------------------- */

.meta {
    display: block;
    text-align: center;
}

.meta-time {
    margin-right: 1em;
}

.meta-description:before {
    content: " - ";
}

.meta-description {
    font-weight: 300;
    color: hsl(0,0%,70%);
}
