
// Post -----------------------------------------


// Video --------------

.video-wrapper {
  position: relative;
  max-width: 100%;
  height: auto;
}

.video-wrapper .video {
  margin: 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
