
/* Globals ----------------------------------------- */

body {
    margin: 0;
    color: hsl(0, 0%, 36%);
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(30, 30%, 96%); /* rgb(248, 245, 242) */
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: hsl(220,60%,60%);
}
a:visited {
    color: hsl(220, 30%, 60%);
}
a:hover {
    color: hsl(220,60%,70%);
}
a:active {
    color: hsl(220,60%,50%);
}

b, strong,
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: hsl(0, 0%, 20%);
}

h1 {
    line-height: 1;
}


/* Wrapper ----------------------------------------- */

.wrapper {
    position: relative;
    max-width: 760px;
    padding: 3em 1em;
    margin: 0 auto;
    text-shadow: 0px 1px 0px hsla(0,0%,100%,.8);
}

.title--404 {
    font-size: 8em;
    text-align: center;
    margin: 0;
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1em;
    font-size: .9em;
    line-height: 1.3;
    color: hsl(0, 0%, 50%);
    border-radius: 0 6px 6px 0;
    border-left: 4px solid hsl(0, 0%, 80%);
}

hr {
    border: none;
    border-bottom: 2px dashed hsl(0, 0%, 80%);
    margin: 2em 0;
}


/* Page ----------------------------------------- */

.page {
    padding-bottom: 3rem;
}



/* Blog ----------------------------------------- */

.article-meta {
    text-align: center;
}

.time {
    color: hsl(0, 0%, 70%);
    font-weight: 300;
}

.time--inline {
    margin-right: .4em;
}

.article iframe {
    margin: 1em 0;
}

.article h1 {
    text-align: center;
}

.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
    margin: 2em 0 0 0;
}

.article h2 {
    border-bottom: 1px dashed hsla(0, 0%, 0%, 0.1);
}

.video-wrapper {
    position: relative;
    max-width: 100%;
    height: auto;
}

.video-wrapper .video {
    margin: 0;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Index ----------------------------------------- */

.index {
    margin: 0;
    padding: 0;
    list-style: none;
}

.index-item {
    position: relative;
    clear: both;
    margin-bottom: 6rem;
}

.index-item > p {
    display: inline;
}

.index-item img {
    margin-top: 1em;
}

.index-title {
    margin: 0.2em 0;
    font-size: 1.6em;
    line-height: 1.3;
}

.index-title--oneline {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-link,
.index-link:visited {
    color: inherit;
}

.index-more {
    margin-left: .2em;
    font-size: 1.1em;
    line-height: 1;
    vertical-align: middle;
    color: hsl(0, 70%, 50%);
}

.index-more:visited {
    color: hsl(0,0%,70%);
}

.index-more:hover {
    color: hsl(0,0%,60%);
}

.index-more:active {
    color: hsl(0,0%,70%);
}

.index-aside {
    display: block;
    text-align: center;
}

.index-img {
    display: block;
    margin: 0.6em auto;
    width: 12em;
    height: 6em;
    border-radius: 5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.15), 0 1px 1px hsl(0, 100%, 100%);
}

.index-description {
    margin: 0;
    font-weight: 300;
    font-size: 1em;
    color: hsl(0,0%,36%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



/* Meta ----------------------------------------- */

.meta {
    display: block;
    text-align: center;
}

.meta-time {
    margin-right: 1em;
}

.meta-description:before {
    content: " - ";
}

.meta-description {
    font-weight: 300;
    color: hsl(0,0%,70%);
}


/* Columns ----------------------------------------- */

.cols {
    font-size: 0; /* removes white-space but */
}
.cols > .col {
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
    font-size: 16px;
}

.cols > .col:last-child {
    margin-right: 0;
}

.col-1-2 { width: 48%; }
.col-1-3 { width: 30.666%; }
.col-2-3 { width: 65.333%; }

@media all and (max-width: 700px) {
    .cols > .col {
        display: block;
        vertical-align: top;
    }
    .col-1-2,
    .col-1-3,
    .col-2-3  {
        width: 100%;
        margin-right: 0;
    }
}


/* Images ----------------------------------------- */

.img--float {
    float: left;
    margin: 0 2em 2em 0;
}

.article:after {
    content: "";
    display: block;
    clear: both;
}

.wrapper img {
    max-width: 100%;
}

.img--25 {
    width: 25%;
}

.img--33 {
    width: 33%;
}

.img--50 {
    width: 50%;
}

.img--66 {
    width: 66%;
}

.img--fill {
    width: 100%;
    vertical-align: top;
}

figcaption {
    font-size: .8em;
    color: hsl(0,0%,50%);
    font-style: italic;
    margin-left: 1em;
}


/* Code ----------------------------------------- */

code {
    font-size: .9em;
    padding: .1em .4em;
    color: hsl(44, 25%, 50%);
    border-radius: 3px;
}

code,
.highlight {
    border: 1px solid hsla(0, 0%, 0%, 0.08);
    background-color: hsl(44, 100%, 98%);
}

.highlight {
    display: block;
    position: relative;
    margin: 1em 0;
    padding: 1em;
    line-height: 1.3;
    border-radius: 6px;
}

.highlight code {
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
}

.highlight > pre {
    margin: 0;
}

.highlight em {
    color: #545454;
    font-weight: bold;
}

code[data-lang]:after {
    content: attr(data-lang);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 1.5em;
    padding: 0em .6em;
    text-align: center;
    font-size: .75em;
    line-height: 1.6;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: hsl(0,0%,66%);
    border-radius: 0 6px;
    border-left: 1px solid hsla(0, 0%, 0%, 0.05);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
    background-color: hsla(0, 0%, 0%, 0.03);
}


/* Comments ----------------------------------------- */

.comments {
    margin: 0;
    padding: 0 2em;
}

.comments:before,
.comments:after {
    content: "";
    display: block;
    margin: 3em 0;
    height: 1px;
    background: linear-gradient( to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0) );
}


/* Header ----------------------------------------- */

.header {
    margin-bottom: 2rem;
	text-align: center;
	font-weight: 300;
	color: hsl(0, 0%, 64%);
}

.header-hamburger {
    display: none;
}

.header-title {
	margin: 1em 0 0.25em 0;
	font-size: 1.5em;
	font-weight: 400;
	letter-spacing: 1px;
	color: inherit;
}

.header-avatar {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    vertical-align: top;
}

.header-description {
	margin: 0;
	line-height: 1.4;
}


/* Aside links - nav + name */

.header a,
.header a:visited {
	color: inherit;
}

.header a:hover {
	color: hsl(0, 0%, 74%);
}

.header a:active {
	color: hsl(0, 0%, 68%);
}

.header a.active {
    color: hsl(0, 0%, 20%);
    font-weight: 400;
}



/* Nav ----------------------------------------- */

.nav {
    padding: 1em 0;
}

.nav:before,
.nav:after {
    content: "";
    display: block;
    margin: 1em 0;
    height: 1px;
    background: linear-gradient( to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0) );
}

.nav-group {
    display: inline-block;
    margin: 0 1em;
}

.nav-item {
    display: inline-block;
    padding: 0.4em 0.8em;
}


/* Subnav ----------------------------------------- */

.subnav {
    font-size: .9em;
    line-height: 2;
    margin: 3em 0;
    text-align: center;
}

.subnav a {
    color: hsl(0,0%,60%);
}

.subnav a:visited {
    color: hsl(0,0%,70%);
}

.subnav a:hover {
    color: hsl(0,0%,50%);
}

.subnav a:active {
    color: hsl(0,0%,80%);
}

.subnav-item {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.subnav-pagination {
    margin-bottom: 3em;
}

.subnav-pagination-item {
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 1em;
    width: 3em;
    height: 3em;
    padding: 0 1em;
    font-size: 1.5em;
    line-height: 3em;
    border: 1px solid;
    border-radius: 3em;
}



/* Footer ----------------------------------------- */

.footer:before {
    content: "";
    display: block;
    height: 1px;
    background: linear-gradient( to right, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0.1), hsla(0, 0%, 0%, 0) );
}

.footer {
    text-align: center;
    margin-top: 3em;
}

.footer a {
    outline: none;
}

.footer-logo {
    display: inline-block;
    margin: 3em 0 0 0;
    transition: -webkit-transform .4s;
    transition:         transform .4s;
}

.footer-logo:hover {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    transition-duration: .1s;
}

.footer-logo:active {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    transition-duration: .1s;
}
