
// Images -----------------------------------------

.img--25 {
  width: 25%;
}

.img--33 {
  width: 33%;
}

.img--50 {
  width: 50%;
}

.img--66 {
  width: 66%;
}

.img--fill {
  width: 100%;
  vertical-align: top;
}

.img--float {
  float: left;
  margin: 0 2em 2em 0;
}
