---

layout: default
post: true

---

<main class="Post">

    <article class="Article">
        <h1 class="Article-title">{{ page.title }}</h1>
        <time class="Article-date">{{ page.date | date: "%B %d %Y" }}</time>        
        {% if post.subtitle %}<h3 class="Article-subTitle">{{ post.subtitle }}</h3>{% endif %}
        {{content}}
    </article>

    {% include comments.html %}

</main>

<nav class="Subnav">

    <div class="Subnav-pagination">
      {% if page.next %}
        <a class="Subnav-pagination-item" href="{{ page.next.url }}" title="{{ page.next.title }}">&larr;</a>
      {% endif %}
      {% if page.previous %}
        <a class="Subnav-pagination-item" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&rarr;</a>
      {% endif %}
    </div>

    {% for post in site.categories.[page.category] %}
      {% if post.title != page.title %}
        <a class="Subnav-item" href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endfor %}
</nav>
