---

layout: default
post: true

---

<main class="main">

    <article class="article">
        <h1>{{ page.title }}</h1>
        <div class="article-meta">
            <time class="time">{{ page.date | date: "%B %d %Y" }}</time>
        </div>
        {{content}}
    </article>

    <!-- {% include comments.html %} -->

</main>

<nav class="subnav">

    <div class="subnav-pagination">
      {% if page.next %}
        <a class="subnav-pagination-item" href="{{ page.next.url }}" title="{{ page.next.title }}">&larr;</a>
      {% endif %}
      {% if page.previous %}
        <a class="subnav-pagination-item" href="{{ page.previous.url }}" title="{{ page.previous.title }}">&rarr;</a>
      {% endif %}
    </div>

    {% for post in site.categories.[page.category] %}
      {% if post.title != page.title %}
        <a class="subnav-item" href="{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    {% endfor %}
</nav>
